*{
    margin: 0;
    padding: 0;
}
/* header section  */
#header-container{
    background-image: url("images/donation13.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    background-position: center;
}
.header-details{
    text-align: center;
    padding: 150px;
    color: rgb(255, 255, 255);
}
.header-details h1{
    font-size: 75px; 
    font-family: 'Roboto', sans-serif;
 } 
.header-details p{
     margin-top: 20px;
     margin-bottom: 30px;
     margin: 20px 15% 30px;
    font-size: 20px; 
} 
.donate-button{
    border: none;
    background-color:  rgb(148, 248, 201);
    padding: 15px 32px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}