*{
    margin: 0;
    padding: 0;
}
/* header section  */
#header-container{
    background-image: url("images/donation13.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    background-position: center;
}
.header-details{
    text-align: center;
    padding: 150px;
    color: rgb(255, 255, 255);
}
.header-details h1{
    font-size: 75px; 
    font-family: 'Roboto', sans-serif;
 } 
.header-details p{
     margin-top: 20px;
     margin-bottom: 30px;
     margin: 20px 15% 30px;
    font-size: 20px; 
} 
.donate-button{
    border: none;
    background-color:  rgb(148, 248, 201);
    padding: 15px 32px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
/* main section  */
/* donate section  */
#donate-section{
    margin: 120px 100px;
    text-align: center;

}
#donate-section h1{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
#donate-section p{
    padding: 20px 20%;
    font-weight: 500;
    font-size: 18px;
    color: rgba(5, 5, 5,0.6);
}
.money-select{
    margin: 20px;
}
.money-select button{
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: white;
    text-decoration: none;
    font-size: 26px;
    color: rgb(48, 50, 53);
    font-weight: 500;
    margin-right: 40px;
}
.money-select .button-200{
    background-color: rgb(243, 187, 187);
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 10px;
}
.donete-input-field{
    width: 600px;
    text-align: center;
    padding: 5px;
    border-style:  none none solid none;
    margin: 10px 0 35px;
}
/* .donate-plan-section  */
.donate-plan-section{
    margin: 120px 100px;
    text-align: center;
}
.donate-plan-section .about-donate{
    margin: 20px 30% 40px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(5, 5, 5,0.6);
}
.carts{
    display: flex;
    justify-content: center;
}
.cart{
    width: 250px;
    height: 250px;
    margin-right: 25px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}
.cart1{
    background-color: antiquewhite;
}
.cart2{
    background-color: rgba(253, 194, 117,0.6);
}
.cart3{
    background-color: rgba(157, 226, 247,0.6);
}
.fa-burger, .fa-person-shelter, .fa-graduation-cap{
    font-size: 70px;
}
.cart h2{
    margin: 15px 0;
}